.left {
  &:after {
    float: right;
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: #bfbfbf;
    border-style: solid;
    transform: rotate(46deg);
    margin-right: 10px;
    position: relative;
    top: 9.5px;
  }
}

border-1px() {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    border-top: 1px solid #808080;
    content: ' ';
  }
}

border-none() {
  &:after {
    display: none;
  }
}

.border-block {
  &:before {
    float: left;
    position: relative;
    content: '';
    display: inline-block;
    height: 15px;
    width: 2px;
    border-width: 1px 1px 0 0;
    border-color: #ff0000;
    border-style: solid;
    background: #ff0000;
    margin-right: 5px;
    top: 5px;
  }
}